# Script to calculate the IC50 for metronidazole tested on WB, C6NR, C6aI and C60.5 on 12_9_19, first plate

In [123]:
#Import all needed modules
import pandas as pd
import numpy as np


#
#Have to still write this.

In [139]:
#Read in data from excel file
WD = pd.read_excel("EC50MTZ_12_9_19_1.xlsx")
Data = WD[28:37]
Data

,Application: Tecan i-control,Unnamed: 1,Unnamed: 2,Unnamed: 3,"Tecan i-control , 1.10.4.0",Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
28,<>,1,2.0,3.0,4,5,6.0,7.0,8,9.0,10.0,11.0,12.0
29,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,B,NaN,24323.0,1034.0,21896,18077,15495.0,36462.0,22864,15788.0,2207.0,2607.0,NaN
31,C,NaN,26089.0,29118.0,1171,17488,26767.0,20000.0,23824,18205.0,20951.0,7431.0,NaN
32,D,NaN,27013.0,31148.0,21497,1173,5527.0,48527.0,22263,14672.0,31742.0,38765.0,NaN
33,E,NaN,26837.0,38747.0,24171,18179,1194.0,38811.0,28983,16780.0,33915.0,23008.0,NaN
34,F,NaN,28554.0,36075.0,26308,17159,21708.0,8147.0,29529,11159.0,1469.0,1632.0,NaN
35,G,NaN,27080.0,35688.0,23795,20779,28911.0,37884.0,30589,20432.0,8693.0,3219.0,NaN
36,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [143]:
#This code does the first step; assigning the numbers to their identifiers on the plate
#I am trying to write a module for it now so the main script gets easier to read.
#Having some problem to move it because it than only is assigned locally.
#I would like to assign in the script as well.

A1,B1,C1,D1,E1,F1,G1,H1 = Data.iloc[1:9,1]
A2,B2,C2,D2,E2,F2,G2,H2 = Data.iloc[1:9,2]
A3,B3,C3,D3,E3,F3,G3,H3 = Data.iloc[1:9,3]
A4,B4,C4,D4,E4,F4,G4,H4 = Data.iloc[1:9,4]
A5,B5,C5,D5,E5,F5,G5,H5 = Data.iloc[1:9,5]
A6,B6,C6,D6,E6,F6,G6,H6 = Data.iloc[1:9,6]
A7,B7,C7,D7,E7,F7,G7,H7 = Data.iloc[1:9,7]
A8,B8,C8,D8,E8,F8,G8,H8 = Data.iloc[1:9,8]
A9,B9,C9,D9,E9,F9,G9,H9 = Data.iloc[1:9,9]
A10,B10,C10,D10,E10,F10,G10,H10 = Data.iloc[1:9,10]
A11,B11,C11,D11,E11,F11,G11,H11 = Data.iloc[1:9,11]
A12,B12,C12,D12,E12,F12,G12,H12 = Data.iloc[1:9,12]


#Update: Found out that pandas can do that already. Will change my dataframes column and row names. 
#Will remove this part when I am happy with the rest.

In [ ]:
#Next step can either be to ask the user to put in for every field which combination of concentration and 
#strain they have or to create masks were one for example only fills in strain 1 = xx and gets the standard
#set-up filled in automatically.

#I should make them as placeholders a la S1_C1
#Than give a mask were you input S1 = WB and it replaces all, as well as C1 = 0uM and replaces all
#Now I need to take one element at a time and assign one cell to it
#Make different masks in the module where M1 corresponds to my standard set-up but you can also just type it from 
#hand or create your own.

In [148]:
#Update: Found out that pandas can do that already. Will change my dataframes column and row names.